/* App.module.css */

@font-face {
  font-family: "Ethnocentric";
  src: url("../assets/fonts/Ethnocentric-Rg-It.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* === DM Sans === */
@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/DMSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/DMSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/DMSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/DMSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/DMSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/DMSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  --primary-color: #B81414;
  --primary-color-hover: #E05252;
  --secondary-color: #181818;
  --third-color: #1E1E1E;
  --font-main: "DM Sans", sans-serif;
}

:global(*) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

:global(html, body) {
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  scroll-behavior: smooth;
  height: 100%;
}

:global(img) {
  max-width: 100%;
  display: block;
}

:global(a) {
  text-decoration: none;
  color: inherit;
}

:global(ul) {
  list-style: none;
  padding: 0;
  margin: 0;
}

:global(button) {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
