.features {
  background-color: var(--secondary-color);
  padding: 50px 65px;
  text-align: center;
  background-image: url('/public/bg-1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sectionTitle {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 15px;
  letter-spacing: 0.05em;
}

.featureList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  max-width: 1290px;
  margin: 0 auto;
}

.feature {
  background-color: rgba(24, 24, 24, 0.7);
  padding: 30px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.feature:hover {
  transform: translateY(-10px);
}

.icon {
  font-size: 3rem;
  margin-bottom: 20px;
}

.title {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.description {
  color: #96999F;
  font-size: 1rem;
  line-height: 1.6;
}

@media (max-width: 1279px) {
  .features {
    padding: 50px 30px;
  }

  .featureList {
    grid-template-columns: repeat(2, 1fr);
  }

  .sectionTitle {
    font-size: 2rem;
    padding: 0 19%;
  }
}

@media (max-width: 767px) {
  .features {
    padding: 50px 20px;
  }

  .featureList {
    grid-template-columns: 1fr;
  }

  .sectionTitle {
    font-size: 1.8rem;
    padding: 0;
  }

  .feature {
    padding: 20px;
  }
}
