.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url('../assets/images/hero.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 65px;
  color: #ffffff;
}

.content {
  margin-bottom: 185px;
  max-width: 50%;
}

.title {
  font-size: 7.55vw;
  line-height: 7.09vw;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.title span {
  display: block;
}

.hero .content .title .outline {
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  letter-spacing: -0.04em;
}


.arrow {
  width: 17px;
  height: 17px;
  stroke: currentColor;
  stroke-width: 2;
  fill: none;
  margin-top: 5px;
}

@media (max-width: 1279px) {
  .hero {
    padding: 0 30px;
  }

  .content {
    max-width: 66%;
  }

  .title {
    font-size: 9vw;
    line-height: 8.5vw;
    letter-spacing: -0.02em;
  }

  .scrollDown {
    right: 7px;
  }
}

@media (max-width: 767px) {
  .hero {
    padding: 0 20px;
  }

  .content {
    margin-top: 28vh;
    max-width: 100%;
  }

  .title {
    font-size: 11vw;
    letter-spacing: 0;
  }

  .scrollDown {
    right: 19px;
    bottom: -4px;
  }

  .tags {
    font-size: 13px;
    bottom: 75px;
  }
}
